<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13278440730-44lk18p2f42kc5qngnvm1c0kp9o2l6di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13278440730-44lk18p2f42kc5qngnvm1c0kp9o2l6di</string>
	<key>API_KEY</key>
	<string>AIzaSyCz45kDcIx854fF2C1OPRK3fkvc2yzSdkE</string>
	<key>GCM_SENDER_ID</key>
	<string>13278440730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>group6.Airpod</string>
	<key>PROJECT_ID</key>
	<string>airpod-947bd</string>
	<key>STORAGE_BUCKET</key>
	<string>airpod-947bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13278440730:ios:694f89f548012038fc50a3</string>
	<key>DATABASE_URL</key>
	<string>https://airpod-947bd.firebaseio.com</string>
</dict>
</plist>